.sideMenuContainer {
  width: 250px;
  height: 100vh;
  box-shadow: 0 0 5px #ccc;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  padding-bottom: 20px;

  :global {
    .logo {
      background-color: #69C1FD;
      color: white;
      font-weight: bold;
      font-size: 18px;
      text-indent: 10px;
      line-height: 50px;
    }

    .MuiBox-root {
      margin-top: 10px;
    }
  }
}
